* {
  box-sizing: border-box;
  
}

h2 {
  text-shadow: 2px 2px 5px red;
}

body,
html {
  padding: 0;
  margin: 0;
}

html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 105%;
  line-height: 1.4;
  text-align: justify;
  margin-top: 76px;

}

body {

  background: #efefef;
}

a {
  color: #111;
}

a:hover {
  color: red;
  background-color: powderblue;
  border-radius: 10px;
  text-decoration: none;
}

#main-header {
  background: #ffffff;
  padding: 15px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  background: #555;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#main-header h1 {
  font-size: 20px;
  margin: 0;
  margin-right: 40px;
  float: left;
  padding: 5px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#main-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

#main-header nav ul li {

  margin-left: 20px;
}

#main-header nav ul li a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  color: white;
}

#main-header nav ul li a:hover {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: black;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#featured-article {
  padding: 2.4vw;
  padding-bottom: 80px;
  border-bottom: 10px solid red;
  margin-bottom: 380px;
  margin-top: 50px;
  background: #eeaa99;
  border-radius: 10px;
}

#featured-article h2,
#featured-article h3 {
  margin: 5px 0;
}

#featured-article img {
  width: 140px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#featured-article figure {

  width: 200px;
  margin: 0;
  overflow: hidden;
}

#flex {
  display: flex;
}

#secas {
  flex: 20%;
}

#main {
  flex: 80%;
  padding: 50px 10vw;
}

#main ol {
  list-style: none;
  margin: 0;
  padding: 35px;
  background: #fff;
  border-radius: 10px;
}

#main li {
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 3px solid powderblue;
}

#main li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

#main img {
  width: 100%;
}

#main figcaption {
  text-align: center;
  font-weight: bold;
}

#main time {
  color: #666;
  margin-bottom: 5px;
  display: inline-block;
}

#footer-link h3 {
  text-align: center;
  margin-bottom: 70px;
  position: relative;
  top: 0;
  left: 20px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.column {
  margin-bottom: 200px;
  background: #66eeaa;
  color: white;
  padding: 50px 50px 50px 0;
  border-radius: 10px;
  border-bottom: 10px solid green;
}

#footer-link ul {
  list-style: none;

}

#footer-link a {
  text-decoration: none;
}

#footer-link li {
  margin-bottom: 40px;
  text-align: center;
}

.social-link {
  padding: 5px 5px 5px 30px;
  background: left center no-repeat;
}

.social-link:hover {
  background-color: #fff;
}

.twitter {
  background-image: url("/public/images/twitter.png");
}

.instagram {
  background-image: url("/public/images/instagram.png");
}

.facebook {
  background-image: url("/public/images/facebook.png");
}

.footer {
  width: 70%;
  margin: 0 auto;
}

body>footer {

  background: #555;
  padding: 10px;
}

body>footer span {
  float: left;
  padding-top: 20px;
  margin-right: 70px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

body>footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

body>footer li {
  justify-content: center;
}

body>footer a {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

body>footer a:hover {
  background: #fff;
  color: black;
  border-radius: 10px;
}

#drop {
  width: 200px;
  background: #77dd88;
  border-radius: 5px;
  position: absolute;
  display: none;
}

#list-drop {
  display: inline-block;
}

#list-drop:hover #drop {
  display: block;
}

@media only screen and (max-width: 376px) {
  body>footer ul {
    margin-right: 45%;
  } 

  .footer {
    width: 90%;
  }
}

@media only screen and (max-width: 502px) {
  /* html {
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
  } */

  * {
    overflow-x: hidden;
  }

  body>footer a:hover {
    border-radius: 0;
    
  }

  body>footer span {
    margin-right: 0;
    width: 360px !important;
  }			

  body>footer a {
    width: 100px !important;
  }
}

@media only screen and (max-width: 900px) {
  html {
    margin: 0 !important;
  }

  #main-header {
    position: static;
  }

  #main-header div {
    margin: 0;
  }

  #drop {
    width: 60%;
  }

  #main-header h1 {
    float: none;
    position: relative;
    top: 0;
    left: 30px;
    margin-bottom: 20px;
  }

  #main-header ul {
    text-align: center;
    flex-direction: column;
    clear: left;
  }

  #main-header a {
    width: 100%;
    text-align: center;
  }

  #flex {
    flex-direction: column;
  }

  .column {
    margin: 20px 0;
  }

  #featured-article {
    margin: 20px 0;
  }

  #main {
    padding: 20px 0;
  }

  .footer {
    margin: 0;

  }

  body>footer a {
    text-align: center;
    width: 60%;
  }

  body>footer ul {
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 0;
    left: 80px;
  }

  body>footer span {
    float: none;
    margin-bottom: 60px;
    display: inline-block;
  }
}